<div class="registration-form">
    <h2>Попробуй бесплатно</h2>
    <h4>Запишись на пробный урок!</h4>

    <form>
        <mat-form-field class="registration-name input-full-width">
            <input matInput placeholder="Имя">
        </mat-form-field>
        <mat-form-field class="registration-mail input-full-width">
            <input matInput placeholder="E-mail">
        </mat-form-field>
        <mat-form-field class="registration-phone input-full-width">
            <span matPrefix>+7 &nbsp;</span>
            <input matInput placeholder="(999) ___-__-__">
        </mat-form-field>
        <button mat-button class="input-full-width">Отправить</button>
    </form>
</div>