<div class="registration-form flex A_c">
    <form>
      <h2>Запишись на пробное занятие</h2>
      <div class="flex J_sa">
        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Имя">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Телефон</mat-label>
          <input matInput placeholder="Телефон">
        </mat-form-field>
        <button mat-button>Записаться</button>
      </div>
    </form>
</div>
