<header class="flex flex_d_c">
  <div class="flex J_sb A_c th-header">
    <span><img src="assets/logo.png" alt=""></span>
    <nav>
      <ul class="flex th-nav">
        <li>Выбрать программу</li>
        <li>Подать заявку</li>
        <li>+79520371262</li>
      </ul>
    </nav>
  </div>
  <div class="learn-programming flex flex_d_c A_c J_c">
    <h5>Научим вас программировать</h5>
    <p>Решение задач от простых до сложных, изучение технолгий, реальные проекты</p>
    <button mat-raised-button color="accent">Хочу попробовать</button>
  </div>

</header>
