<div class="middle">
    <div class="top-middle">
        GMB ACADEMY заниматеся обучением:
    </div>
    <div class="body-middle">
        как дела
        <div class="experience">
            <div class="intern text-block">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nihil sint eos odit architecto praesentium, autem, deleniti quae incidunt nemo inventore molestias eum veniam delectus? Animi soluta facere iusto vitae?</p>
            </div>
            <div class="subscribe text-block">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nihil sint eos odit architecto praesentium, autem, deleniti quae incidunt nemo inventore molestias eum veniam delectus? Animi soluta facere iusto vitae?</p>
            </div>
        </div>

        <div class="buy-lesson">
            <div class="senior text-block">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nihil sint eos odit architecto praesentium, autem, deleniti quae incidunt nemo inventore molestias eum veniam delectus? Animi soluta facere iusto vitae?</p>
            </div>
            <div class="subscribe text-block">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nihil sint eos odit architecto praesentium, autem, deleniti quae incidunt nemo inventore molestias eum veniam delectus? Animi soluta facere iusto vitae?</p>
            </div>
        </div>
    </div>
</div>