<div class="middle">
  <h4>Почему стоит выбрать именно нас</h4>
  <div class="flex J_sb th-wp">
    <div class="flex flex_d_c J_sb th-left-circle">
      <svg width="178" height="231" viewBox="0 0 178 231" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M62.5 231C126.289 231 178 179.289 178 115.5C178 51.7111 126.289 0 62.5 0C39.4709 0 18.0159 6.73984 0 18.3546V212.645C18.0159 224.26 39.4709 231 62.5 231Z" fill="#6E22B3"/>
      </svg>
      <div class="flex">
        <svg width="90" height="144" viewBox="0 0 90 144" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 144C57.7645 144 90 111.765 90 72C90 32.2355 57.7645 0 18 0C11.7846 0 5.75316 0.787554 0 2.26831V141.732C5.75316 143.212 11.7846 144 18 144Z" fill="#6E22B3"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 144C57.7645 144 90 111.765 90 72C90 32.2355 57.7645 0 18 0C11.7846 0 5.75316 0.787554 0 2.26831V141.732C5.75316 143.212 11.7846 144 18 144Z" fill="#6E22B3"/>
        </svg>
        <svg class="th-cl" width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="40.5" cy="40.5" r="40.5" fill="#6E22B3"/>
        </svg>
      </div>
      <svg class="th-ct" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="31" cy="31" r="31" fill="#6E22B3"/>
      </svg>
    </div>
    <div class="th-content">
      <div class="flex flex_d_c th-box-info">
        <div class="flex J_sb">
          <div class="th-boxed th-nee flex flex_d_c A_c">
            <img src="assets/komp.png" alt="">
            <span>Программирование,<a href="#">формирование навыков</a> разработка приложений</span>
          </div>
          <div class="th-boxed th-nee flex flex_d_c A_c">
            <img src="assets/boy.png" alt="">
            <span>Разработка <a href="#">гибкой</a> индивидуальной программы обучения</span>
          </div>
        </div>
        <div class="flex J_sb">
          <div class="th-boxed flex flex_d_c A_c">
            <img src="assets/learn.png" alt="">
            <span>Обучение проходит в удобной <a href="#">дистанционной</a> форме</span>
          </div>
          <div class="th-boxed flex flex_d_c A_c">
            <img src="assets/team_A.png" alt="">
            <span>Возможность <a href="#">командной</a> работы и обучение в группе</span>
          </div>
        </div>
      </div>
      <div class="flex flex_d_c A_c th-sold J_c">
        <h5><span>GMB</span>ACADEMY <span>занимается обучением:</span></h5>
        <img src="assets/kompic.png" alt="">
      </div>
    </div>
    <div class="flex flex_d_c th-right-circle">
      <svg width="224" height="395" viewBox="0 0 224 395" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M224 393.237C224 393.237 206.486 395 197.5 395C88.4238 395 0 306.576 0 197.5C0 88.4238 88.4238 0 197.5 0C206.486 0 224 1.76253 224 1.76253V393.237Z" fill="#6E22B3"/>
      </svg>
      <svg class="th-keek" width="277" height="277" viewBox="0 0 277 277" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="138.5" cy="138.5" r="138.5" fill="#6E22B3"/>
      </svg>
    </div>
  </div>
  <div class="flex J_c th-boo">
    <div class="flex th-soo J_sb">
      <div class="th-boxed-info">
        <h6>Новичок</h6>
        <ul>
          <li>Хотите попробовать свои силы в программировании</li>
          <li>Раньше нигде не обучались</li>
          <li>Требуется постоянная поддержка и мотивация</li>
          <li>Индивидуальный план обучения</li>
        </ul>
      </div>
      <div class="th-boxed-info th-kell">
        <h6>Имею опыт</h6>
        <ul>
          <li>Сталкивались с разработкой</li>
          <li>Имеете навыки в программировании</li>
          <li>Хотите усовершенствовать навыки</li>
          <li>Хотите обменяться опытом и навыками </li>
        </ul>
      </div>
    </div>

  </div>
</div>
