<div class="flex flex_d_c A_c works">
  <h4>Варианты нашей работы</h4>
  <img src="assets/works.png" alt="">
  <div class="flex th-wk">
    <div class="flex flex_d_c J_sb th-left-circle">
      <svg width="308" height="440" viewBox="0 0 308 440" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M88 440C209.503 440 308 341.503 308 220C308 98.4974 209.503 0 88 0C56.7114 0 26.9483 6.53169 0 18.3059V421.694C26.9483 433.468 56.7114 440 88 440Z" fill="#AED9F2"/>
      </svg>
      <div class="flex">
        <svg class="th-cle" width="192" height="191" viewBox="0 0 192 191" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="96" cy="95.5" rx="96" ry="95.5" fill="#AED9F2"/>
        </svg>
      </div>
      <svg class="th-cl" width="74" height="149" viewBox="0 0 74 149" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M-6.10352e-05 148.994C40.9604 148.462 73.9999 115.314 73.9999 74.5C73.9999 33.6864 40.9604 0.538215 -6.10352e-05 0.00653076V148.994Z" fill="#AED9F2"/>
      </svg>
    </div>
    <div class="flex J_c th-boo">
      <div class="flex th-soo J_sb">
        <div class="th-boxed-info">
          <h6>Разовый урок</h6>
          <span class="sesian">Онлайн-сессии</span>
          <ul>
            <li>Обучение в индивидуальном формате</li>
            <li>Получение домашнего задания</li>
            <li>Обсуждение проблемных вопросов</li>
            <li>Получение обратной связи по домашнему заданию</li>
            <li>Возможность получения консультации по конкретному вопросу</li>
            <span class="th-price">1000 Р</span>
          </ul>
        </div>
        <div class="th-boxed-info th-kell">
          <h6>Подписка</h6>
          <span class="sesian">Онлайн-сессии</span>
          <ul>
            <li>Обучение с нуля и мониторинг прогресса</li>
            <li>Постоянные консультации</li>
            <li>Помощь в выполенении задачи или проекта</li>
            <li>Выбор срока подписки и возможность изменения</li>
            <li>Контроль и выполнение домашнего задания при обучении</li>
            <span>от <span class="th-price">4000 Р</span></span>
          </ul>

        </div>
      </div>
    </div>
    <div class="flex flex_d_c th-right-circle">
      <svg width="140" height="310" viewBox="0 0 140 310" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 155C0 235.544 61.434 301.739 140 309.284V0.716492C61.434 8.26101 0 74.4562 0 155Z" fill="#AED9F2"/>
      </svg>
      <svg class="th-keek" width="145" height="145" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="72.5" cy="72.5" r="72.5" fill="#AED9F2"/>
      </svg>
    </div>

</div>
